
<div class="input-group mb-3" id="nav">
    <div class="input-group-prepend">
      <button class="btn btn-outline-secondary dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" id="btn">Patient</button>
      <div class="dropdown-menu">
        <a class="dropdown-item" href="create">Create</a>
        <a class="dropdown-item" href="update">Update</a>
        <a class="dropdown-item" href="delete">Delete</a>
        <a class="dropdown-item" href="view">View Patient</a>
        <a class="dropdown-item" href="search">Search Patient</a>
        <a class="dropdown-item" href="finalbilling">Final Billing</a>
        
        
        
      </div>
    </div>
    <div class="input-group-prepend">
        <button class="btn btn-outline-secondary dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" id="btn">Pharmacy</button>
        <div class="dropdown-menu">
          <a class="dropdown-item" href="patientmedicine">getdetails</a>
        
        
        </div>
      </div>
      <div class="input-group-prepend">
        <button class="btn btn-outline-secondary dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" id="btn">Diagnostics</button>
        <div class="dropdown-menu">
          <a class="dropdown-item" href="/patientdiagnostic">Get Patients</a>
         
         
        </div>
      </div>
   
  </div>
  

  